/* Use default font rendering. */

* {
	-webkit-font-smoothing: auto;
}

/* Set the heading at the top of a page in small caps. */

.book-header h1 a,
.book-header h1 a:hover {
	font-family: 'Iowan Old Style', Constantia, Georgia, serif;
	font-weight: normal;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.075em;
}

.markdown-section .intro {
	background-color: gray;
	background-repeat: no-repeat;
	background-size: cover;
	height: 66vh;
	position: relative;
	margin-bottom: 1em;
}

.markdown-section .intro.intro-path {
	background-image: url('../path.jpeg');
	background-position: bottom center;
}

.markdown-section .intro.links {
	background-image: url('../text-and-links/links.jpeg');
}

.markdown-section .intro.modifiers-inserts {
	background-image: url('../modifiers-and-inserts/letterblocks.jpeg');
}

.markdown-section .intro.state {
	background-image: url('../state/chess.jpeg');
	background-position: bottom;
}

.markdown-section .intro.multimedia {
	background-image: url('../multimedia/slides.jpeg');
}

.markdown-section .intro.customization {
	background-image: url('../customization/clothes.jpeg');
}

.markdown-section .intro.input {
	background-image: url('../player-input/microphone.jpeg');
}

.markdown-section .intro.advanced {
	background-image: url('../advanced/controls.jpeg');
}

.markdown-section .intro.references {
	background-image: url('../references/books.jpeg');
}

.markdown-section .intro h1 {
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: right;
	padding: 0.2em;
	font-size: 1.8em;
	color: white;
	background: black;
}

.markdown-section .intro.path {
	background-image: url('../path.jpeg');
	background-position: bottom center;
}

/* Force line wrapping in code examples. */

.markdown-section pre > code {
	white-space: pre-wrap;
}

/* Make superscripts smaller. */

.markdown-section sup {
	font-size: 75%;
}

/* Make footnotes look like regular text. */

.markdown-section blockquote[id^='fn_'] {
	color: inherit;
	border-left: none;
	padding: 0;
}

.markdown-section blockquote[id='fn_1'] {
	margin-top: 3em;
	padding-top: 1em;
	border-top: 1px solid #333;
}

/* Don't put a background around code. */

.markdown-section code {
	font-size: 90%;
	background: none;
	padding: 0;
}

.markdown-section code::before,
.markdown-section code::after {
	display: none;
}

/* Hide font selector. */

.font-settings .buttons:nth-child(3) {
	display: none;
}

/*
Tighten leading.
*/

.markdown-section {
	line-height: 1.4;
}

/*
Use the Chapbook font family, and slightly larger than normal text to
accommodate it.
*/

.book.font-family-1 {
	font-family: 'Iowan Old Style', Constantia, Georgia, serif;
}

/* &nbsp; shows up larger than a regular space with our font. */

span.widont {
	display: inline-block;
	max-width: 0.3em;
}

/* Avoid boldface for headings. */

.markdown-section h1,
.markdown-section h2,
.markdown-section h3 {
	font-weight: normal;
}

.markdown-section h1 {
	font-size: 1.8em;
}

.markdown-section h2 {
	font-style: italic;
	font-size: 1.2em;
}

.markdown-section h3 {
	text-transform: uppercase;
	letter-spacing: 0.08em;
	font-size: 0.7em;
	margin-bottom: 0.4em;
}

/* Give some additional space around tables. */

.markdown-section table {
	margin: 2em 0;
}

/* Use small caps for table headings. */

.markdown-section table th {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 70%;
	letter-spacing: 0.08em;
}

/* Remove some unnecessary table borders and backgrounds. */

.markdown-section table th,
.markdown-section table tr:first-child {
	border-top: none;
}

.markdown-section table tr:last-child td {
	border-bottom: none;
}

.markdown-section table td:first-child,
.markdown-section table th:first-child {
	border-left: none;
}

.markdown-section table td:last-child,
.markdown-section table th:last-child {
	border-right: none;
}

.markdown-section table tr:nth-child(2n) {
	background: none;
}
