@import '../backstage.css';

#backstage ul.tabs {
  list-style: none;
  margin: var(--backstage-ui-padding);
  padding: 0;
  display: flex;
  border: 1px solid var(--backstage-fg);
  font-size: 12px;
}

#backstage ul.tabs li {
  flex-grow: 1;
  border-right: 1px solid var(--backstage-fg);
  text-align: center;
}

#backstage ul.tabs li:last-child {
  border-right: none;
}

#backstage ul.tabs li button {
  color: var(--backstage-fg);
  text-decoration: none;
  display: block;
  width: 100%;
  height: var(--backstage-tab-height);
  padding: var(--backstage-ui-padding);
  border: none;
  border-radius: 0;
}

#backstage ul.tabs li button.active {
  background: var(--backstage-fg);
  color: var(--backstage-bg);
}

#backstage .tab-content {
  max-height: calc(100vh - var(--backstage-tab-height));
  overflow: auto;
}