@import '~open-color/open-color.css';
@import '../layout.css';
@import '../typography.css';

#backdrop {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: var(--page-width);
	min-height: calc(100vh - (2 * var(--page-margin)));
	max-width: calc(100vw - 2em);
	line-height: 150%;
	margin: var(--page-margin);
	padding: 4em 4em 2em 4em;
	position: relative;
}

#page article {
	flex-grow: 1;
	display: flex;
}

#page article > :first-child {
	margin-top: 0;
	width: 100%;
}

#page header,
#page footer {
	display: flex;
}

#page header > div,
#page footer > div {
	flex-grow: 1;
}

#page header p,
#page footer p {
	margin: 0.5em 0 0 0;
}

#page header .center,
#page footer .center {
	text-align: center;
}

#page header .right p,
#page footer .right p {
	text-align: right;
}

#page header {
	margin-top: 0;
}

#page header.has-content {
	border-bottom: 1px solid black;
	/*
  Repeated to catch cloned elements created as part of page
  transitions.
  */
}

#page header.has-content + article > div > p:first-child,
#page header.has-content + article > article > div > p:first-child {
	margin-top: 1em;
}

#page footer {
	margin-bottom: 0;
}

#page footer.has-content {
	border-top: 1px solid black;
}

#page hr {
	border: none;
}

#page hr:after {
	content: '*  *  *';
	display: block;
	text-align: center;
}

#page .error,
#page .warning {
	background: var(--oc-red-0);
	color: var(--oc-red-9);
	padding: 0.5em;
	border-left: 4px solid var(--oc-red-3);
	position: relative;
	margin-bottom: 1em;
	overflow: auto;
}

#page .error :first-child,
#page .warning :first-child {
	margin-top: 0;
}

#page .error :last-child,
#page .warning :last-child {
	margin-bottom: 0;
}

#page .error a,
#page .warning a {
	color: var(--oc-red-9);
}

#page .warning {
	background: var(--oc-yellow-0);
	color: var(--oc-yellow-9);
}

#page .warning a {
	color: var(--oc-yellow-9);
}

#page .fork p {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#page .fork p a {
	display: block;
	flex-grow: 1;
	text-align: center;
	padding: 0.5em;
}

@media screen and (max-width: 768px) {
	#page {
		margin: 0;
		width: 100vw;
		max-width: 100vw;
		min-height: 100vh;
		padding: 1em;
	}
}

#spinner {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: 0.25s ease-in-out opacity;
	pointer-events: none;
}

#spinner.visible {
	display: block;
	opacity: 1;
}
