.fade-in {
	opacity: 0;
	animation: fade-in 1s ease-out forwards;
}

.fade-out {
	animation: fade-in 1s ease-out reverse forwards;
}

/* The !important is needed because it needs to override inline styles. */

.skip-animation {
	animation-delay: 0s !important;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
