#page {
	background-color: var(--page-background-color);
	border: var(--page-border);
	border-radius: 5px;
	box-shadow: var(--page-box-shadow);
	color: var(--page-color);
	display: grid;
	font-family: var(--page-font-family);
	font-size: var(--page-font-size);
	font-style: var(--page-font-style);
	font-variant: var(--page-font-variant);
	font-weight: var(--page-font-weight);
	grid-template-areas: 'header' 'body' 'footer';
	grid-template-rows: min-content 1fr min-content;
	line-height: 150%;
	margin: 1em;
	max-width: calc(100vw - 2em);
	min-height: calc(100vh - 2em);
	padding: 2em 4em;
	position: relative;
	text-decoration: var(--page-text-decoration);
	text-transform: var(--page-text-transform);
	width: 40em;
}

#page hr {
	border: none;
}

#page hr:after {
	content: '*  *  *';
	display: block;
	text-align: center;
}

#page page-skip-indicator {
	position: absolute;
	bottom: 0;
	right: 0;
}

#page .fork p {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#page .fork p .link {
	display: block;
	flex-grow: 1;
	text-align: center;
	padding: 0.5em;
}

#page .fork p .link + .link {
	border-top: var(--page-fork-divider-size) var(--page-fork-divider-style) var(--page-fork-divider-color);
}

#page .link {
	background-color: var(--page-link-background-color);
	color: var(--page-link-color);
	cursor: pointer;
	font-family: var(--page-link-font-family);
	font-size: var(--page-link-font-size);
	font-style: var(--page-link-font-style);
	font-variant: var(--page-link-font-variant);
	font-weight: var(--page-link-font-weight);
	text-decoration: var(--page-link-text-decoration);
	text-decoration-color: var(--page-link-text-decoration-color);
	text-transform: var(--page-link-text-transform);
}

#page .link:hover {
	background-color: var(--page-link-active-background-color);
	color: var(--page-link-active-color);
	font-family: var(--page-link-font-family);
	font-size: var(--page-link-font-size);
	font-style: var(--page-link-font-style);
	font-variant: var(--page-link-font-variant);
	font-weight: var(--page-link-font-weight);
	text-decoration: var(--page-link-text-decoration);
	text-decoration-color: var(--page-link-text-decoration-color);
	text-transform: var(--page-link-text-transform);
}

#page .small-caps {
	font-variant: small-caps;
	text-transform: lowercase;
}

#page > marginal-content[type="footer"] {
	grid-area: footer;
}

#page > marginal-content[type="header"] {
	grid-area: header;
}

#page > body-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	grid-area: body;
	justify-content: var(--page-current-passage-justify-content);
}

#page > error-handler {
	grid-area: body;
	position: relative;
	z-index: 2;
}

@media screen and (max-width: 768px) {
	#page {
		margin: 0;
		width: 100vw;
		max-width: 100vw;
		min-height: 100vh;
		padding: 1em;
	}
}