doctype html
html
	head
		title Chapbook, a story format for Twine 2
		link(rel="stylesheet", href="index.css")
	body
		article
			include:marked ../README.md
		footer
			p Photos by #[a(href="https://unsplash.com/photos/rF1OwUp065Q") Alexia Cocconi], #[a(href="https://pixabay.com/en/communication-letters-envelope-3671504/") Gerhard Gellinger],  #[a(href="https://unsplash.com/photos/0sPFjdcRhko") Steve Johnson], and #[a(href="https://pixabay.com/zh/森林-自然-户外-路径-树-伍兹-1868028/") Pexels]. #[br] Used with permission.