@import '~open-color/open-color.scss';
@import '../backstage';
@import '../../typography';

#backstage .panel {
	h2 {
		margin: 0;

		button {
			text-align: left;
			background: none;
			border: none;
			width: 100%;
			font-weight: normal;
			@include small-caps;
			font-size: $backstage-font-size - 1px;
			padding: 0 $backstage-ui-padding;

			&:before {
				content: '\25ba';
				display: inline-block;
				width: 1.25em;
			}

			&:hover {
				color: $oc-gray-7;
			}
		}
	}

	&.open {
		h2 button:before {
			content: '\25bc';
		}
	}
}
