@import 'reasonable-colors/reasonable-colors.css';

warning-list {
	background: var(--color-yellow-1);
	border-left: 4px solid var(--color-yellow-2);
	color: var(--color-yellow-4);
	display: block;
	font-family: var(--font-system);
	padding: 0.5em;
}

warning-list[hidden] {
	display: none;
}

warning-list ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}