@import 'open-color/open-color.css';
@import '../layout.css';
@import '../typography.css';
@import 'backstage.css';

body.backstage-visible #backdrop {
  justify-content: flex-start;
  max-width: 67vw;
}

#backstage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33vw;
  max-height: 100vh;
  font: 18px var(--font-system);
  background: var(--backstage-bg);
  color: var(--backstage-fg);
  transform: translateX(100%);
  box-shadow: inset 2px 0px 3px rgba(0, 0, 0, 0.25);
}

#backstage:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: calc(50% - 25px);
  right: calc(100% - 4px);
  height: 50px;
  width: 4px;
  background: var(--backstage-bg);
}

@media screen and (max-width: 425px) {
  #backstage {
    width: calc(100vw - 25px);
  }
}

#backstage.open {
  transform: none;
}

#backstage .toggle-visibility {
  position: absolute;
  z-index: 1;
  top: calc(50% - 25px);
  right: 100%;
  width: 25px;
  height: 50px;
  padding: 0;
  background: var(--backstage-bg);
  color: var(--backstage-fg);
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 2px 0px 3px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

#backstage button {
  color: var(--backstage-input-fg);
  background: var(--backstage-input-bg);
  padding: var(--backstage-ui-padding);
  border-radius: calc(2 * var(--backstage-ui-padding));
  border: 1px solid var(--backstage-input-border);
}

#backstage button:hover {
  background: var(--oc-gray-2);
}

#backstage p {
  padding: 0 var(--backstage-ui-padding);
}

#backstage p,
#backstage li,
#backstage td {
  font-size: var(--backstage-font-size);
}

#backstage input,
#backstage select {
  color: var(--backstage-input-fg);
  background: var(--backstage-input-bg);
  border: 1px solid var(--backstage-input-border);
  padding: var(--backstage-ui-padding);
}

#backstage table {
  background: var(--backstage-input-bg);
  table-layout: fixed;
  border-collapse: collapse;
  width: calc(100% - (var(--backstage-ui-padding) * 2));
  margin: var(--backstage-ui-padding);
}

#backstage th {
  text-align: left;
}

#backstage td {
  position: relative;
  border: 1px solid var(--backstage-table-border);
  padding: var(--backstage-ui-padding);
  vertical-align: top;
}

#backstage td:first-child {
  border-left: none;
}

#backstage td:last-child {
  border-right: none;
}

#backstage td input,
#backstage td button {
  background: none;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: var(--backstage-ui-padding);
}

#backstage textarea {
  background: var(--backstage-input-bg);
  border: 1px solid var(--backstage-input-border);
  color: var(--backstage-input-fg);
  padding: var(--backstage-ui-padding);
  width: 100%;
  height: 7.75em;
}

#backstage .block {
  display: block;
  margin: var(--backstage-ui-padding);
  width: calc(100% - (2 * var(--backstage-ui-padding)));
}

#backstage .disabled {
  color: var(--oc-gray-6);
}

#backstage .indented-input {
  margin-left: calc(10em + var(--backstage-ui-padding));
  font-size: 12px;
}

#backstage .input-group {
  display: flex;
  align-items: center;
}

#backstage .input-group label:first-child {
  text-align: right;
  margin-right: var(--backstage-ui-padding);
  width: 10em;
}

#backstage .input-group input,
#backstage .input-group select {
  flex-grow: 1;
}

#backstage .segmented-button {
  display: flex;
}

#backstage .segmented-button button {
  border-left: none;
  border-radius: 0;
  margin: 0;
  flex-grow: 1;
}

#backstage .segmented-button button:first-child {
  border-left: 1px solid var(--backstage-input-border);
  border-top-left-radius: calc(2 * var(--backstage-ui-padding));
  border-bottom-left-radius: calc(2 * var(--backstage-ui-padding));
}

#backstage .segmented-button button:last-child {
  border-top-right-radius: calc(2 * var(--backstage-ui-padding));
  border-bottom-right-radius: calc(2 * var(--backstage-ui-padding));
}

#backstage .segmented-button .fixed {
  flex-grow: 0;
  min-width: 24px;
}

#backstage .tab-content {
  max-height: calc(100vh - var(--backstage-tab-height));
  overflow: auto;
}