@mixin monospaced-font {
	font-family: 'Courier New', 'Courier', monospace;
}

@mixin small-caps {
	text-transform: uppercase;
	font-size: 70%;
	letter-spacing: 0.075em;
}

.small-caps {
	@include small-caps;
}

@mixin system-font {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 80%;
}
