<!DOCTYPE html>
<html>
	<head>
		<title>{{STORY_NAME}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%
			/* See https://github.com/jantimon/html-webpack-plugin/tree/master/examples/inline */

			if (inline) {
				assets.css.forEach(css =>
					print(`<style>${compilation.assets[css.substr(assets.publicPath.length)].source()}</style>`)
				)
			}
			%>
		</head>
	<body>
		<form id="cb-validation" action="javascript:void(0)">
			<button id="cb-validation-tester" hidden></button>
			<button id="cb-block-enter-key" hidden></button>
				<div id="backdrop">
					<div id="page" aria-live="polite">
						<header>
							<div class="left"></div>
							<div class="center"></div>
							<div class="right"></div>
						</header>
						<ul class="warnings" hidden></ul>
						<article>
						</article>
						<footer>
							<div class="left"></div>
							<div class="center"></div>
							<div class="right"></div>
						</footer>
						<div id="spinner">
							<img src="<%= require('./spinner.svg') %>" width="40" height="40" alt="">
						</div>
					</div>
				</div>
		</form>
		<%= storyData %>
		<%
		/* See https://github.com/jantimon/html-webpack-plugin/tree/master/examples/inline */

		if (inline) {
			assets.js.forEach(js =>
				print(`<script>${ compilation.assets[js.substr(assets.publicPath.length)].source() }</script>`)
			);
		}
%>
	</body>
</html>