// In order to allow for customization, many styles are set in the `config`
// variable. This handles basic layout.

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

input[type='text'],
select {
	padding: 0.25em;
}

pre {
	white-space: pre-wrap;
}

tw-storydata {
	display: none;
}
