@import 'animation';
@import 'layout';
@import 'typography';
@import 'debug/style';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 100%;
	height: auto;
}

input[type='text'],
select {
	padding: 0.25em;
}

pre {
	font-family: 'Courier New', 'Courier', monospace;
	display: block;
	overflow: auto;
	line-height: 120%;
}

tw-storydata {
	display: none;
}

.page {
	/*
	In order to expose things to authors, many default display properties are
	set in style/index.js, specifically the init() function.
	*/

	width: $pageWidth;
	max-width: calc(100vw - 2em);
	line-height: 150%;
	min-height: calc(100vh - 2em);
	margin: $pageMargin;
	padding: 4em 4em 2em 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;

	article {
		flex-grow: 1;

		:first-child {
			margin-top: 0;
		}
	}

	header,
	footer {
		display: flex;

		span {
			flex-grow: 1;
		}

		p {
			margin: 0.5em 0 0 0;
		}

		.center {
			text-align: center;
		}

		.right {
			text-align: right;
		}
	}

	header {
		margin-top: 0;

		&.has-content {
			border-bottom: 1px solid black;
		}
	}

	footer {
		margin-bottom: 0;

		&.has-content {
			border-top: 1px solid black;
		}
	}

	hr {
		border: none;

		&:after {
			content: '* \a0 * \a0 *';
			display: block;
			text-align: center;
		}
	}

	.small-caps {
		@include small-caps;
	}

	.system {
		@include system-font;
		font-size: 14px;
	}

	.error,
	.warning {
		background: #ffebee;
		color: #b71c1c;
		padding: 0.5em;
		margin-bottom: 1em;
		overflow: auto;

		& :first-child {
			margin-top: 0;
		}

		& :last-child {
			margin-bottom: 0;
		}
	}

	.error a {
		color: #b71c1c;
		text-decoration-color: #b71c1c;

		&:hover {
			color: #f44336;
			text-decoration-color: #f44336;
		}
	}

	.warning {
		background: #fffde7;
		color: #f57f17;

		a {
			color: #f57f17;
			text-decoration-color: #f57f17;

			&:hover {
				color: #ffeb3b;
				text-decoration-color: #ffeb3b;
			}
		}
	}
}

.transition-all * {
	transition: all 0.4s ease-in-out;
}
