@import 'animation.css';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: background-color 1s ease-in-out;
}

hr {
	border: none;
}

hr:after {
	content: '* \a0 * \a0 *';
	display: block;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

input[type="text"], select {
	padding: 0.25em;
}

tw-storydata {
	display: none;
}

pre {
	font-family: "Courier New", "Courier", monospace;
	display: block;
	overflow: auto;
	line-height: 120%;
}

.error {
	background: #ffebee;
	color: #b71c1c;
	padding: 0.5em;
	margin-bottom: 1em;
}

.error :last-child {
	margin-bottom: 0;
}

.page .error a {
	color: #b71c1c;
	text-decoration-color: #b71c1c;
}

.page .error a:hover {
	color: #f44336;
	text-decoration-color: #f44336;
}

.page {
	width: 35em;
	max-width: calc(100vw - 2em);
	line-height: 150%;
	min-height: calc(100vh - 2em);
	margin: 1em;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page article {
	flex-grow: 1;
}

.page article :first-child {
	margin-top: 0;
}

.page header, .page footer {
	display: flex;
}

.page header span, .page footer span {
	flex-grow: 1;
}

.page header p, .page footer p {
	margin: 0.5em 0 0 0;
}

.page header .center, .page footer .center {
	text-align: center;
}

.page header .right, .page footer .right {
	text-align: right;
}

.page header {
	margin-top: 0;
}

.page header.has-content {
	border-bottom: 1px solid black;
}

.page footer {
	margin-bottom: 0;
}

.page footer.has-content {
	border-top: 1px solid black;
}

.small-caps {
	text-transform: uppercase;
	font-size: 70%;
	letter-spacing: 0.075em;
}

.system {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu Cantarell, "Helvetica Neue", sans-serif;
	font-size: 14px;
}