@import 'animation.css';

* {
	box-sizing: border-box;
}

body {
	font-family: Georgia, serif;
	font-size: 20px;
	color: #2e3436;
	background: #ECEFF1;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: background-color 1s ease-in-out;
}

a {
	color: hsl(0, 0%, 2%);
	text-decoration-color: #E91E63;
}

a:hover {
	color: #E91E63;
}

img {
	max-width: 100%;
	height: auto;
}

tw-storydata {
	display: none;
}

.page {
	width: 35em;
	max-width: calc(100vw - 2em);
	line-height: 150%;
	min-height: calc(100vh - 2em);
	margin: 1em;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #ffffff;
	box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.25);
}

.page article {
	flex-grow: 1;
}

.page header {
	margin-top: 0;
}

.page header.has-content {
	border-bottom: 1px solid black;
}

.page footer {
	margin-bottom: 0;
}

.page footer.has-content {
	border-top: 1px solid black;
}