<!DOCTYPE html>
<html>
	<head>
		<title>{{STORY_NAME}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style><%- style %></style>
	</head>
	<body>
		<form id="cb-validation" action="javascript:void(0)">
			<button id="cb-validation-tester" hidden></button>
			<button id="cb-block-enter-key" hidden></button>
			<div class="page" aria-live="polite">
				<header></header>
				<div class="messages"></div>
				<article>
				</article>
				<footer></footer>
			</div>
		</form>
		{{STORY_DATA}}
		<script><%- script %></script>
	</body>
</html>