<!DOCTYPE html>
<html>
	<head>
		<title>{{STORY_NAME}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style><%- style %></style>
	</head>
	<body>
		<div id="main" aria-live="polite"></div>
		{{STORY_DATA}}
		<script><%- script %></script>
	</body>
</html>