@import '~open-color/open-color.scss';

$backstage-ui-padding: 4px;
$backstage-bg: $oc-gray-4;
$backstage-fg: black;
$backstage-input-bg: transparent;
$backstage-input-fg: $backstage-fg;
$backstage-input-border: $backstage-fg;
$backstage-table-border: $backstage-fg;
$backstage-font-size: 12px;
$backstage-tab-height: 20px;
