@import '~open-color/open-color.scss';
@import '../layout';
@import '../typography';
@import 'backstage';

body.backstage-visible {
	#backdrop {
		justify-content: flex-start;
		max-width: calc(100vw - 30rem);
		padding-right: calc(30px - #{$pageMargin});
	}
}

#backstage {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30rem;
	max-height: 100vh;
	font-size: 18px;
	background: $backstage-bg;
	color: $backstage-fg;
	transform: translateX(100%);
	box-shadow: inset 2px 0px 3px hsla(0, 0%, 0%, 0.25);
	@include system-font;

	&:before {
		content: '';
		position: absolute;
		z-index: 2;
		top: calc(50% - 25px);
		right: calc(100% - 4px);
		height: 50px;
		width: 4px;
		background: $backstage-bg;
	}

	&.open {
		transform: none;
	}

	.toggle-visibility {
		position: absolute;
		z-index: 1;
		top: calc(50% - 25px);
		right: 100%;
		width: 25px;
		height: 50px;
		padding: 0;
		background: $backstage-bg;
		color: $backstage-fg;
		border: none;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		box-shadow: inset 2px 0px 3px hsla(0, 0%, 0%, 0.25);
		font-size: 18px;
	}

	button {
		color: $backstage-input-fg;
		background: $backstage-input-bg;
		padding: $backstage-ui-padding;
		border-radius: 2 * $backstage-ui-padding;
		border: 1px solid $backstage-input-border;

		&:hover {
			background: $oc-gray-3;
		}
	}

	p {
		padding: 0 $backstage-ui-padding;
	}

	p,
	li,
	td {
		font-size: $backstage-font-size;
	}

	input,
	select {
		color: $backstage-input-fg;
		background: $backstage-input-bg;
		border: 1px solid $backstage-input-border;
		padding: $backstage-ui-padding;
	}

	table {
		background: $backstage-input-bg;
		table-layout: fixed;
		border-collapse: collapse;
		width: calc(100% - #{$backstage-ui-padding * 2});
		margin: $backstage-ui-padding;
	}

	th {
		text-align: left;
	}

	td {
		position: relative;
		border: 1px solid $backstage-table-border;
		padding: $backstage-ui-padding;
		vertical-align: top;

		&:first-child {
			border-left: none;
		}

		&:last-child {
			border-right: none;
		}

		input,
		button {
			background: none;
			border: none;
			border-radius: 0;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: $backstage-ui-padding;
		}
	}

	textarea {
		background: $backstage-input-bg;
		border: 1px solid $backstage-input-border;
		color: $backstage-input-fg;
		padding: $backstage-ui-padding;
		width: 100%;
		height: 7.75em;
	}

	.block {
		display: block;
		margin: $backstage-ui-padding;
		width: calc(100% - #{2 * $backstage-ui-padding});
	}

	.disabled {
		color: $oc-gray-6;
	}

	.indented-input {
		margin-left: calc(10em + #{$backstage-ui-padding});
		font-size: 12px;
	}

	.input-group {
		display: flex;
		align-items: center;

		label:first-child {
			text-align: right;
			margin-right: $backstage-ui-padding;
			width: 10em;
		}

		input,
		select {
			flex-grow: 1;
		}
	}

	.segmented-button {
		display: flex;

		button {
			border-left: none;
			border-radius: 0;
			flex-grow: 1;

			&:first-child {
				border-left: 1px solid $backstage-input-border;
				border-top-left-radius: 2 * $backstage-ui-padding;
				border-bottom-left-radius: 2 * $backstage-ui-padding;
			}

			&:last-child {
				border-top-right-radius: 2 * $backstage-ui-padding;
				border-bottom-right-radius: 2 * $backstage-ui-padding;
			}
		}

		.fixed {
			flex-grow: 0;
			min-width: 24px;
		}
	}

	.tab-content {
		max-height: calc(100vh - #{$backstage-tab-height});
		overflow: auto;
	}
}
